body{ 
    background-color:#dcdcdc;
   color:#253BEB;
   font-family: Verdana;
   width: 80%;
   margin-left:20px 
   margin-top: auto; }

   div{color:#EBB602}
   div{background:#253BEB}

   /* #EBB72D , #4B61AB */



 







